.img2{
  height: auto;
  width: auto;
}

.huh{
  background-color: grey;
  border: 2px green solid;
  cursor: default;
  width: 250px;
  color: white;
  transition: 0.5s;
  margin-left: 0%;
  margin-right: 0%;
  padding: 10px;
}
.huh:hover{
  background-color: lightgrey;
  color: black;
}
